<div class="row">
        <div class="col">
            <span style="text-align: center; "> <h1>Tárgy felvétel</h1 > </span>
                <table class="table">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Név</th>
                <th scope="col">Létszám</th>
                <th scope="col">Terem</th>
                <th scope="col">Időpont</th>
    
                 <!-- <th scope="col">Diákok</th>-->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let course of filteredCourses"
                (click)="onSelectCourse(course)"
                [class.table-info]="course === selectedCourse"
              >
                <!-- <th scope="row">{{ course.id }}</th> -->
                <td><i>{{ course.name }}</i></td>
                <td><i>{{ course.maxLimit }}</i></td>
                <td><i>{{ course.room.name }}</i></td>
                <td><i>{{ course.date }}</i></td>
                <td>
                    <button mat-raised-button color="primary" (click)="onFormSubmit(course)"> 
                      Tárgy felvét<mat-icon>add_circle</mat-icon></button>
                  </td>
                <!--<td>{{ course.students }}</td>-->
               
              </tr>
            </tbody>
          </table>
          <status-filter
            [status]="selectedStatus"
            (onChange)="onFilterChange($event)"
          ></status-filter>  
        </div>
      </div>
    