<div class="row">
    <div class="col">
        <span style="text-align: center; "> <h1>Kurzusaim</h1 > 
          <div *ngIf ="filteredCourses.length === 0 ; else elseBlock"> <h3>Jelenleg nincs kurzusod!</h3>
          </div>
        </span>
        <ng-template #elseBlock>
            <table  class="table">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Név</th>
            <th scope="col">Létszám</th>
            <th scope="col">Terem</th>
            <th scope="col">Időpont</th>

             <!-- <th scope="col">Diákok</th>-->
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let course of filteredCourses"
            (click)="onSelectCourse(course)"
            [class.table-info]="course === selectedCourse"
          >
            <!-- <th scope="row">{{ course.id }}</th> -->
            <td><i>{{ course.name }}</i></td>
            <td><i>{{ course.maxLimit }}</i></td>
            <td><i>{{ course.room.name }}</i></td>
            <td><i>{{ course.date }}</i></td>
            <div *ngIf =" user.type === 'STUDENT'; else elseBlock">
            <td>
                <button mat-raised-button color="primary" (click)="onDeleteClick(course)"> 
                  Tárgy leadása<mat-icon>delete_sweep</mat-icon></button>
              </td>
              </div>
              <ng-template #elseBlock>
                  <td>
                      <button mat-raised-button color="primary" (click)="onDeleteClickforTeacher(course)"> 
                        Tárgy törlése<mat-icon>delete_sweep</mat-icon></button>
                    </td>
              </ng-template>
            <!--<td>{{ course.students }}</td>-->
           
          </tr>
        </tbody>
      </table>
      <status-filter
        [status]="selectedStatus"
        (onChange)="onFilterChange($event)"
      ></status-filter>  
    </ng-template>

    </div>
  </div>
  <div *ngIf = "user.type === 'TEACHER'">
  <span style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding: 100px 0;
  text-align:center ;">
  <button mat-raised-button color="primary" (click)="onNewClick()">Tárgy hozzáadás</button>
  <div class="col" *ngIf="selectedCourse">
      <course-form [course]="selectedCourse" (onSubmit)="onFormSubmit($event)"></course-form>
    </div>
    </span>
    </div>